
/* Demo Styles */
.css-0{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.template-demo > .btn-group .btn {
margin: 0 !important; }

.template-demo > h1,
.template-demo > h3,
.template-demo > h4,
.template-demo > h5,
.template-demo > h6,
.template-demo > h2 {
border-top: 1px solid #f3f3f3;
padding: 0.5rem 0 0; }

.template-demo .dropdown {
display: inline-block;
margin-bottom: 0.5rem; }

.template-demo nav .breadcrumb {
margin-bottom: 1.375rem; }

.template-demo nav:last-child .breadcrumb {
margin-bottom: 0; }

.purchace-popup > div > span {
background: rgba(228, 228, 228, 0.46);
padding: 15px 20px;
border-radius: 3px; }
.purchace-popup > div > span .btn {
margin-right: 20px;
font-weight: 500;
color: #ffffff;
border-radius: 5px; }
.purchace-popup > div > span .btn.download-button {
background: rgba(228, 228, 228, 0.2);
color: #b1b1b1;
border: 2px solid #cbcbcb; }
.purchace-popup > div > span .btn.purchase-button {
background-color: #d209fa;
*zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFD209FA', endColorstr='#FF4F81D4');
background-image: -owg-linear-gradient(to right, #d209fa 1%, #4f81d4 100%);
background-image: -webkit-linear-gradient(to right, #d209fa 1%, #4f81d4 100%);
background-image: -moz-linear-gradient(to right, #d209fa 1%, #4f81d4 100%);
background-image: -o-linear-gradient(to right, #d209fa 1%, #4f81d4 100%);
background-image: linear-gradient(to right, #d209fa 1%, #4f81d4 100%);
color: #ffffff;
border: none;
line-height: 1;
vertical-align: middle; }
.purchace-popup > div > span p {
margin-bottom: auto;
margin-top: auto;
color: #7e7e7e;
font-weight: 400;
vertical-align: middle;
line-height: 1; }
.purchace-popup > div > span i {
vertical-align: middle;
line-height: 1;
margin: auto 0;
color: #b1b1b1; }


button.ck.ck-button.ck-off.ck-dropdown__button {
display: none;
}

/* Header */
.navbar .navbar-menu-wrapper{background:#4F5467;}
.content-wrapper {
background: #edf1f5;
padding:0 20px 20px;
width: 100%;
flex-grow: 1;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link{color:rgba(255,255,255, 0.5);display: inline-block;vertical-align:middle;margin-left:5px;}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown{padding:0;}
.btn-section .btn{text-align:left;display:block;padding:10px;}
.btn-section .btn:hover{background:#f8f9fa;}
.img-user .thumb-img {
width: 40px;
height: 40px;
border-radius: 8px;
overflow: hidden;
position: absolute;
top: 0;
left: 0;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
margin-left: auto;
}
.breadcrumb-item + .breadcrumb-item::before{content:'\f112';font-family: FontAwesome;font-size:13px;}
.img-user {
position: relative;
}
.page-body-wrapper {
min-height: calc(100vh - 58px);
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
padding-left: 0;
padding-right: 0; }
.page-body-wrapper.full-page-wrapper {
width: 100%;
min-height: 100vh; }

.main-panel {
transition:0.5s;
-webkit-transition:0.5s;
width: calc(100% - 250px);
right:0;
min-height: calc(100vh - 58px);
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column; 
position:absolute;
}
.user-profile span{color:#212529;margin:7px 0 0;padding:0 15px;display: block;}
.user-profile  .thumb-img{width:70px;height:70px;}
.sidebar.active:hover .user-profile span{display: block;}
.clearfix{clear: both;width:100%;float:left;}
.dashed-hr{border:dashed 1px rgba(0, 0, 0, 0.3);}

/* Dashboard */
.card{z-index:1;}
.progress{height:0.5rem;width:100%;float: left;}
.card-statistics .highlight-icon {
font-size: 3.125rem; }
/* .card{box-shadow:none;border-radius:0;z-index:99999;} */
.card-statistics .highlight-icon-small {
font-size: 2.5rem; }
.comman-grid .card{ height:100%;}
.card-statistics p{margin-bottom:0;}
.card-statistics p.sub-text {
margin:20px 0 0;
width:100%;
float: left;
}
.card-statistics .card-title{font-size:30px;}
.card-header .card-title.card-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-group .error-block{
  position: absolute; bottom: -18px; left: 0;
}
.status-title h3{display: flex;align-items: center;}
.status-title .react-toggle{margin: 0;margin-left: 10px;}

  .card-statistics .statistics-icon {
       border-radius: 50%; 
      background: #f1f1f1;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
    }
.card-statistics .statistics-icon i{font-size:1.9rem;vertical-align:middle;color: #fff;}
.card-statistics .statistics-detail{display:block;color:#000;width:100%;float: left; }
.card-statistics h3{color:#263173;}
.card-statistics .card-text{font-weight:500;font-size:16px;text-align:left;text-transform:uppercase;margin-bottom:10px;}
.card-body li{list-style:none;}
.card-body .ck-content li{list-style:inherit;}
.ck .ck-button{display:none;} 
.overview-list li {
margin-bottom: 15px;
border-bottom: 1px solid #ccc;
}
.overview-list li:last-child{border-bottom:0;}
.notes{font-size:12px;}
.ck-file-dialog-button,.ck.ck-toolbar>:last-child,.ck.ck-toolbar>:nth-last-child(2),.ck.ck-toolbar>:nth-last-child(5){display:none;}
.dropdown-item i{margin-right:10px;}
.truncate-text .text-truncate{max-width:90%;width:auto;}
.inline-list li{background:#fafafa;margin-bottom:5px;}
.inline-list li i{padding:5px;color:#fff;display:inline-block;vertical-align: middle;margin-right:5px;}
.inline-list li span{vertical-align:middle;}
.inline-list{padding:0;margin:0;}
.banner-section img{max-height:100%;object-fit:cover;width:100%;height: 100%;}
.banner-section{position: relative;}
#updateimage li{margin-bottom:5px;list-style:inherit;}

/* Custom breadcrumb Css */
.breadcrumb {float:right;}
.breadcrumb li{display:inline-block;vertical-align: middle;font-size:12px;color:#212529;font-weight: 300;margin-top:2px;cursor: pointer;}
.breadcrumb-item.active{color:#256de0;font-weight:500;}
.bg-default{background:#256de0;}
.support-list span{color:#C0C9CC;}
.support-list a{margin-right:5px;}
.media img{width:30px;height:30px;}
.support-list span.status{font-size:12px;display: inline-block;width:60px;text-align: center;height:25px;color:#fff;}
.media h5{width:calc(100% - 80px);display: inline-block;}
.grid-margin .card{height:100%;}
.dropdown.show{display: inline-block;}
.filter-button button{display:inline-block;}
.filter-button .dropdown-menu:before{display:none;}
.filter-button .dropdown-toggle:after{color:#fff;}


/* Custom Css */
.page-header{margin-bottom:10px;background:#fff;padding:20px 25px 15px;margin: 0 -25px 20px;}
.page-header h3{margin:0;color:#212529;display:inline-block;font-size:1.125rem;font-weight:300;}  
.data-search{width:250px;}ß
.data-filter .btn{margin-left:10px;height:33px;} 
.data-filter label{color:#263173;font-weight:500;}
.input-group-text i{font-size:20px;}
.form-field{width:80%;}
.image-wrapper{width:100%;height:100%;}
/* .col-form-label{width:calc(100% - 85%);} */
.email-logo img{max-width:200px;}  
.btn:active,.btn:focus,.btn-primary:active,.btn-primary:focus,.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus{box-shadow:none;outline:0;}
.error-msg{color:red;}
.srv-validation-message{color:red;font-size:12px;}
table .srv-validation-message{color:#f00;bottom:3px;position:absolute;font-size:11px;}
.input-table tbody tr{height:65px;}
.cu-btn{margin-top:30px;}
table u,table td a{text-decoration:underline;color:#256de0;cursor:pointer;}
.sidebar .nav .nav-item .nav-link i.drop-arrow{width:auto;float:right;font-size:18px;}
.table .form-control{height:30px;display:inline-block;}
.product-img img{width:80px;height:80px;object-fit:cover;}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused),.ck.ck-toolbar{border-color:#ccc !important;}
.button-continer .dropdown-toggle:after{color:#fff;} 
.button-continer{margin: -5px;}
.button-continer .btn{margin: 5px;}
.button-continer button{display:inline-block;font-size:12px;height:36px;}
.button-continer button span{vertical-align: middle;display:inline-block;}
.button-continer .dropdown{vertical-align:middle;}
.button-continer .dropdown.show{display:inline-block;}
.button-continer .dropdown-menu:before{display:none;}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .show > .btn.dropdown-toggle{color:#fff;}
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus, .show > .btn.dropdown-toggle:focus{box-shadow:none;}
 .modal-content{background:#fff;} 
.modal-content li{list-style:none;font-size:16px;margin-bottom:5px;}
.modal-content .checkbox label{font-size:16px;}
.modal-header .close{color:#256de0;} 
.item-list{padding:0 15px 12px;float: left;width:100%;}
.item-list li{list-style:none;font-size:16px;}
.filter-list{width:100%;float: left;padding:10px 15px 12px;}
.button-continer .ant-select-selection__placeholder,.button-continer .ant-select-search__field__placeholder{line-height:25px;}
.file-upload-btn{position: relative;display: inline-block;overflow: hidden;}
.file-upload-btn input {
position: absolute;
font-size: 50px;
opacity: 0;
right: 0;
top: 0;
width:135px;
}
.drop-section{width:450px;position: relative;}
#filterlist,#itemlist{display:none;}
.inputDnD{height:150px;border:2px dashed #999;position: relative;}
.form-control-file {
position: relative;
width: 100%;
height: 100%;
min-height: 6em;
outline: none;
visibility: hidden;
cursor: pointer;
background-color: #c61c23;
box-shadow: 0 0 5px solid #000;
}
.form-control-file:before {
content: '';
position: absolute;
top: 0.5em;
left: 0;
width: 100%;
min-height: 6em;
line-height: 2em;
padding-top: 1.5em;
opacity: 1;
visibility: visible;
text-align: center;
transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
overflow: hidden;
height:100%;
}
.upload-overlay {position: absolute;text-align:center;flex-wrap: wrap;width:100%;height:100%;}
.upload-overlay i{display:block;font-size:40px;width:100%;}
.upload-overlay button{border:0;background:none;padding:0;font-weight:700;margin-right:5px;}
.upload-overlay span{margin-top:10px;display:block;}
.select-image .product-img{display: inline-block;}
.select-image .product-img img{width:auto;height:150px;}
.select-image-product .product-img{display: block;}
.select-image-product span{display:block;}
.chart-img img{width:100%;}
.star-ratings{padding:7px 0;}
.tooltip.in{opacity:1;}
.nav-tabs .nav-item{margin-right:10px;}
.ant-select-dropdown-menu-item-group-title{display:none;}
.ant-select-dropdown-menu-item{padding:0 12px !important;}
.categori-label{padding-left:15px;}
.user-role .card{height:100%;}
.top-form{display:block;min-height:66px;}
.add_item,.add-customer,.select-customer,.select-add-customer{display: none; float: left;width: 100%;}
.customers-link{display: block;width:100%;float: left;}
.d-inline-block li{display:inline-block;}
.ul-list li::after{content:'|'; display:inline-block;padding:0 5px;}
.ul-list li:last-child:after{display:none;}
.data-filter .ul-list li{margin-left:8px;min-width:80px;text-align:center;cursor: pointer;}
.data-filter .ul-list li a{color:rgba(0, 0, 0, 0.85);padding:10px;min-width:80px;}
.data-filter .ul-list li:after{content:'';}
/* .data-filter .ul-list li a:hover{color:#256de0;} */
.comman-list li{list-style:inherit;}
.modal-open .modal-backdrop.in{display:none !important;}
.swal-footer{text-align:center;}
.ant-select-arrow{margin-top:-5px;}
body .ant-select-selection--multiple > ul > li,body .ant-select-selection--multiple .ant-select-selection__rendered > ul > li{height:32px;line-height:30px;}
.ant-select-selection--single{height:35px;}
.ant-select-selection__rendered{line-height:35px;}
.pre-loader{position: absolute;top:50%;left:50%;transform:translate(-50% -50%);-webkit-transform:translate(-50% -50%);}

.view-icon{font-size:20px;margin-top:3px;}
.input-group-addon {
  padding: 6px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  height:40px;
}
.push-right{margin-left:auto;}


/* Custom Radio / Checkbox  */
.vertical.checkbox,
.vertical.checkbox label,
.vertical.radio,
.vertical.radio label {
display: block;
}

.checkbox label,
.radio label {
margin:0 10px 10px 0;
padding: 0 0 0 28px;
cursor: pointer;
font-size: 12px;
color: #292929;
line-height: 18px;
position: relative;
display:inline-block
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
display: none;
}
.checkbox input[type="checkbox"] + span {
content: "";
display: inline-block;
width: 16px;
height: 16px;
position: absolute;
left: 0;
background: #f4f8fc;
border: 1px solid #abb3bb;
border-radius: 2px;
}
.checkbox input[type="checkbox"]:checked + span {
border: 1px solid #256de0;
background: #256de0;
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

.checkbox input[type="checkbox"] ~ span:after {
display: none;
position: absolute;
content: "";
}
.checkbox input[type="checkbox"]:checked ~ span:after {
top: 50%;
left: 50%;
margin-left: -2px;
margin-top: -7px;
width: 5px;
height: 10px;
border-width: 0 1px 1px 0 !important;
transform: rotate(45deg);
display: block;
border: solid #fff;
}

.radio input[type="radio"] + span {
content: "";
display: inline-block;
width: 16px;
height: 16px;
position: absolute;
left: 0;
background: #f4f8fc;
border: 1px solid #abb3bb;
border-radius: 50%;
}


.radio input[type="radio"]:checked + span {
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
background: #0093EE;
border: 1px solid #0093EE;
}
.radio input[type="radio"] ~ span:after {
display: none;
position: absolute;
content: "";
}
.radio input[type="radio"]:checked ~ span:after {
top: 50%;
left: 50%;
margin-left: -2px;
margin-top: -2px;
width: 4px;
height: 4px;
display: block;
background: #fff;
border-radius: 50%;
}
.checkbox input[type="checkbox"]:disabled + span,
.radio input[type="radio"]:disabled + span {
opacity: 0.5;
}
.ie8 .checkbox input[type="checkbox"],
.ie8 .radio input[type="radio"] {
display: inline-block;
}
.ie8 .checkbox span,
.ie8 .radio span {
display: none;
}

.radio,.checkbox{vertical-align:top;display: inline-block;}
.radio input[type="radio"] + .inner{ display: flex; align-items: center;justify-content: center; transition: all 0.4s;padding:10px; border-radius: 4px; cursor: pointer;background: rgba(210,221,236,0.3);flex-wrap: wrap;flex-direction: column;}
.radio input[type="radio"]:checked + .inner{ background: #448ef6;}
.radio input[type="radio"] + .inner span{font-weight:700; line-height: 24px;color: #8F94A3;}
.radio input[type="radio"] + .inner h5{margin:0;}
.radio input[type="radio"]:checked + .inner h5{color: #fff;margin: 0;}
.radio input[type="radio"]:checked + .inner span{color: #fff;}
 /* round radio  */
.round-radio .radio label{display: flex;align-items: center;padding: 0;margin-bottom:0; }
.round-radio .radio input{display: none;}
.round-radio .radio input[type="radio"] + .inner{width: 22px;height: 22px;border-radius: 50%;border: 2px solid #2472DC;background: #fff;padding: 0;margin-right: 16px;padding: 2px;}
.round-radio .radio input[type="radio"] + .inner span{width: 14px;height: 14px;background: transparent;border-radius: 50%;}
.round-radio .radio input[type="radio"]:checked + .inner span{background: #2472DC;}
.round-radio .radio input[type="radio"] ~ small{font-size: 1.7rem; color: #000000;width: calc(100% - 38px);}
.round-radio .radio input[type="radio"]:checked ~ small{color: #2472DC;}
img{max-width:100%;}
select.form-control{background:url(../assets/images/drop-down.png) no-repeat right 10px top 16px;appearance: none;-webkit-appearance:none;}
.swal-overlay{z-index:99999999;}
/* comman tabel*/
a:focus,button:focus,li:focus{outline:0;}
.table i{cursor: pointer;}
.table button{border:0;background:none;}
.table .btn-border{border:1px solid #256DDC;font-size:12px;padding:7px 10px;}
.table .btn-border i{color:#256DDC;}
.table .btn-border:hover{color:#256DDC;}
table button i.fa{opacity:0.8;font-size:18px;}
table button:hover  i{opacity:1;}
.table .thumb-img{width:40px;height:40px;display: inline-block;vertical-align:middle;border-radius:0;box-shadow:none;}
.table tr td{vertical-align: middle;}
.table tr:hover button{background:none;}
.table  label,.table-footer label,.header-pagination label{margin:0 5px;font-weight:500;color:rgba(0, 0, 0, 0.65);line-height:inherit;}
.table td label, .table-footer td label,.table th label, .table-footer th label{margin:0;}
.table .thumb-img img{object-fit:cover;}
.table-footer{margin-top:20px;}
.data-filter .ant-select{width:140px;}
.table-footer .ant-select,.header-pagination .ant-select{width:80px;}
.table-footer .pagination-list,.pagination-list{display: inline-block;vertical-align: middle;margin-left:10px;}
.rc-pagination-item{margin:0 !important;border-radius:0 !important;}
.rc-pagination-prev{border-top-right-radius:0 !important;border-bottom-right-radius:0 !important;margin:0 !important;}
.rc-pagination-next{border-top-left-radius:0 !important;border-bottom-left-radius:0 !important;margin:0 !important;}
.rc-pagination-item a{color:#999 !important;}
.rc-pagination-item-active,.rc-pagination-item:hover{background:#4184ef !important;border:1px solid #4184ef !important;color:#fff;}
.rc-pagination-item-active a,.rc-pagination-item:hover a{color:#fff !important;}
.rc-pagination-prev a,.rc-pagination-next a{color: #666 !important;}
.rc-pagination-item-active a{color:#fff !important;}
.pagination-list li{width:32px;height:32px;line-height:32px;}
table.dataTable.no-footer{border:1px solid #ddd;}
table.dataTable{border-radius:5px;}
.react-datepicker-wrapper,.react-datepicker__input-container{width:100%;}
.table-datepicker .react-datepicker-wrapper,.table-datepicker .react-datepicker__input-container{width:110px;margin-right:5px;}
textarea.form-control{resize: none;min-height:100px;}
table.dataTable .checkbox label, table.dataTable .radio label{vertical-align: top;}
table.dataTable p{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;width:150px;margin-bottom:0;}
table.dataTable h5{margin:0;}
.data-filter .ant-select-selection--single{height:36px;}
.tab-content{padding:20px 0;text-transform:capitalize;}
table .status{padding:5px;color:#fff;font-size:12px;width:71px;text-align:center;display:inline-block;}
.applyselect .ant-select-selection{border-top-right-radius: 0;border-bottom-right-radius: 0;}
.button-continer button.apply_btn{border-top-left-radius: 0;border-bottom-left-radius: 0;}
.table-striped tbody tr:nth-of-type(even){background-color: #F6F8FA;}
.table-striped tbody tr:nth-of-type(odd){background-color: #fff;}
.btn span{vertical-align:middle;}
.card-header{width:100%;}
table input[type="number"]{width:60px;}
/* comman tabs*/
.topnav{margin-bottom:35px;}
.topnav a{color:#666;margin-right:15px;padding-bottom:10px;}
.topnav a.active{color:#263173;border-bottom:2px solid #263173;}
.tooltip::after{ width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    content:'';
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
  }

/* Product */
.thumbnail{position: relative;background:#fff;padding:15px;}
.product-list .product-item .caption h5{padding:15px 10px 0 0;margin-bottom:0;font-size:14px;border-top:1px solid #e9ecef;}
.product-item {margin-bottom:15px;}
/* .product-list .product-item:nth-child(4n+1) .caption h5{background:#256de0;}
.product-list .product-item:nth-child(4n+2) .caption h5{background:#7ed320;}
.product-list .product-item:nth-child(4n+3) .caption h5{background:#7266ba}
.product-list .product-item:nth-child(4n+4) .caption h5{background:#f75d81} */
.product-setting{z-index:999;opacity:0;transition:0.5s;-webkit-transition:0.5s;position:absolute;top:10px;right:0px;text-align:right;}
.product-setting i{width:38px;height:38px;line-height:38px;border-radius:50%;text-align:center;background:rgba(0,0,0,0.6);margin-bottom:5px;display:block;font-size:22px;color:#fff;transition:0.5s;-webkit-transition:0.5s;}
.product-setting i:hover{padding-bottom:10px;}
.thumbnail-wrapper{height:200px;width:100%;overflow: hidden;text-align:center;background:#fff;position: relative;cursor: pointer;}
.thumbnail a{width:100%;display:block;cursor: pointer;}
.thumbnail:hover .product-setting{opacity:1;right:10px;}
.thumbnail-wrapper .checkbox{
position: absolute;
z-index: 9;
left: 10px;
top: 10px}
.thumbnail-wrapper .checkbox input[type="checkbox"]+ span{width:22px;height:22px;}
.thumbnail img{max-width:100%;object-fit:cover;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.cu-w{width:200px;display:inline-block;}
.add-new button{height:40px;}
.category-btn{padding:7px 10px;}
.btn.category-btn i{margin-right:0;}
.form-group .more-img{color:#fff;}
.form-group p,.form-group a{margin-bottom:0;padding:8px 0 0;display: block;}
.form-group .more-img{color:#fff;}
.file-upload-wrapper input[type="file"]{position:absolute;opacity:0;}
.form-group .notes{font-size:11px;font-style:italic;}
.select-image span{width:calc(100% - 20px);}
.affix {
top: 55px;
width: calc(100% - 285px);
z-index: 9999 !important;
position: fixed;
background: #fff;
padding: 15px 10px;
box-shadow:2px 2px 5px rgba(0, 0, 0, 0.05);
left: 270px;
}
.publish-icon{position: absolute;bottom:10px;right:10px;z-index:999;}
.publish-icon i{background:rgba(0,0,0,0.6);width:30px;height:30px;line-height:30px;font-size:20px;}
.unpublished-item .publish-icon i{background:#00c292;}

/* User */
.porfile-info h2{margin-top:20px;color:#5a7391;font-size:24px;}
.porfile-info span{margin:5px 0;}
.address-list{padding:15px;margin-bottom:15px;}
.address-list h4{margin-bottom:0;}
.address-list a{color:#000;margin-bottom:5px;padding:0;display:inline-block;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{color:#000;border:0;border-bottom:3px solid #256de0;}
.nav-tabs .nav-link{color: #737373;border-bottom:3px solid transparent;border:0;padding-bottom:1rem;}
.nav-tabs .nav-link:hover{border-bottom:3px solid #256de0;}
.nav-tabs .nav-link.btn-link{color: #256de0;}
.address-list  ul{padding:0;margin:0;}
.address-list li{display:inline-block;margin-left:5px;}
.address-list li i{margin-right:2px;font-size:16px;}
.user-profile-img{
position: relative;
width: 130px;
height: 130px; 
margin:0 auto;
}
.user-profile-img .inner-image{
width: 100%;    
height: 100%;
border-radius:50%;
overflow: hidden;
}
.user-profile-img img{
width: 100%;
height: 100% !important;
object-fit: cover;
}
.user-profile-img .upload-file{bottom:0;}

/* order */
.card-list{margin-bottom:15px;border:1px solid;}
.card-list ul{padding:0;margin:0;}
.card-list ul li{display: block;}
.card-list .card-title{color:#fff;}
.card-list li span{color:#000;display:inline-block;vertical-align:top;}
.card-list address{color:#000;}
table .ant-select{min-width:140px;}
.progressbar-list {
padding:0;
margin-top:10px;
position: relative;
}

.progressbar-list li {
list-style-type: none;
float: left;
width:12%;
position: relative;
text-align: center;
}
.progressbar-list .tooltip.in{opacity:1;}

.progressbar-list li:before {
display: inline-block;
width: 20px;
height: 20px;
line-height: 20px;
border: 1px solid #ddd;
display: block;
text-align: center;
margin: 0 auto 10px auto;
border-radius: 50%;
background-color: white;
content: '';
}

.progressbar-list li:after {
content: '';
position: absolute;
width: 100%;
height:2px;
background-color: #ddd;
top: 10px;
left: -50%;
z-index: -1;
content: '';
}

.progressbar-list li:first-child:after {
content: none;
}

.progressbar-list li.active {
color: green;
}

.progressbar-list li.active:before {
background: green;
}

.progressbar-list li.active + li:after {
background-color: green;
}
.input-small{max-width:100px;}


/*-------------------------------------------------------------------*/
/* === Components === */
/* Badges */
.badge {
border-radius: 0.25rem;
font-size: 0.75rem;
font-weight: initial;
line-height: 1;
padding: 0.25rem 0.375rem;
font-family: "Poppins", sans-serif; }
.badge.badge-pill {
border-radius: 10rem; }
.badge.badge-fw {
min-width: 70px; }

/*Badge variations*/
.badge-primary {
border: 1px solid #1991EB;
color: #ffffff; }

.badge-secondary {
border: 1px solid #dee2e6;
color: #ffffff; }

.badge-success, .preview-list .preview-item .preview-thumbnail .badge.badge-online {
border: 1px solid #08D419;
color: #ffffff; }

.badge-info, .preview-list .preview-item .preview-thumbnail .badge.badge-offline {
border: 1px solid #745af2;
color: #ffffff; }

.badge-warning, .preview-list .preview-item .preview-thumbnail .badge.badge-busy {
border: 1px solid #FFC105;
color: #ffffff; }

.badge-danger {
border: 1px solid #FF0017;
color: #ffffff; }

.badge-light {
border: 1px solid #f8f9fa;
color: #ffffff; }

.badge-dark {
border: 1px solid #424964;
color: #ffffff; }

.badge-teal {
border: 1px solid #58d8a3;
color: #ffffff; }

/*Badge outlined variations*/
.badge-outline-primary {
color: #1991EB;
border: 1px solid #1991EB; }

.badge-outline-secondary {
color: #dee2e6;
border: 1px solid #dee2e6; }

.badge-outline-success {
color: #08D419;
border: 1px solid #08D419; }

.badge-outline-info {
color: #745af2;
border: 1px solid #745af2; }

.badge-outline-warning {
color: #FFC105;
border: 1px solid #FFC105; }

.badge-outline-danger {
color: #FF0017;
border: 1px solid #FF0017; }

.badge-outline-light {
color: #f8f9fa;
border: 1px solid #f8f9fa; }

.badge-outline-dark {
color: #424964;
border: 1px solid #424964; }

.badge-outline-teal {
color: #58d8a3;
border: 1px solid #58d8a3; }

/* Buttons */
.btn {
font-size: 0.875rem;
line-height: 1;
font-family: "Poppins", sans-serif; }
.btn i {
margin-right: 0.3125rem;font-size:13px; vertical-align:middle;}
.btn .btn-label:before {
font-size: 1rem;
line-height: 5px;
vertical-align: middle; }
.btn .btn-label.btn-label-left {
margin-right: 5px; }
.btn .btn-label.btn-label-right {
margin-left: 5px; }
.btn.btn-rounded {
border-radius: 50px; }
.btn.btn-fw {
min-width: 120px; }
.btn.icon-btn i {
margin-right: 0; }
.btn.social-btn {
padding: 18px; }
.btn.social-btn i {
margin-right: 0;
font-size: 1rem; }
.btn.btn-sm, .btn-group-sm > .btn {
font-size: 0.875rem; }
.btn.btn-lg, .btn-group-lg > .btn {
font-size: 0.875rem; }
.btn.btn-xs {
padding: 0.5rem 0.75rem;
font-size: 0.625rem; }
.btn.btn-danger, .btn.btn-info, .btn.btn-teal, .btn.btn-warning {
color: #ffffff; }
.btn.btn-light {
color: #000;
border-color: #d9d9d9; }
.btn.btn-outline-light {
color: #f8f9fa;
background-color: transparent;
background-image: none;
border-color: #f8f9fa; }
.btn.btn-outline-light:hover {
color: #ffffff;
background-color: #f8f9fa;
border-color: #f8f9fa; }
.btn.btn-outline-light:focus, .btn.btn-outline-light.focus {
box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
.btn.btn-outline-light.disabled, .btn.btn-outline-light:disabled {
color: #f8f9fa;
background-color: transparent; }
.btn.btn-outline-light:not(:disabled):not(.disabled):active, .btn.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn.btn-outline-light.dropdown-toggle {
color: #212529;
background-color: #f8f9fa;
border-color: #f8f9fa; }
.btn.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-outline-light.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
.btn.btn-outline-secondary {
color: rgba(0, 0, 0, 0.5); }
.btn.btn-inverse-secondary {
background-color: rgba(222, 226, 230, 0.5);
color: rgba(0, 0, 0, 0.5); }
.btn.btn-inverse-secondary:hover {
color: rgba(0, 0, 0, 0.5); }
.btn.btn-inverse-light {
background-color: #ffffff;
color: rgba(0, 0, 0, 0.5);
border-color: #d9d9d9; }
.btn.btn-inverse-light:hover {
color: rgba(0, 0, 0, 0.5);
border-color: #d9d9d9; }

.btn-group {
border: 1px solid #f3f3f3;
border-radius: 0.1875rem; }
.btn-group .btn {
border-top: none;
border-bottom: none;
border-left: none; }
.btn-group .btn:last-child {
border-right: none; }
.btn-group .btn.btn-primary {
border-color: #1489e1; }
.btn-group .btn.btn-secondary {
border-color: #d5dadf; }
.btn-group .btn.btn-info {
border-color: #684cf1; }
.btn-group .btn.btn-warning {
border-color: #f5b800; }
.btn-group .btn.btn-success {
border-color: #07c517; }
.btn-group .btn.btn-danger {
border-color: #f00016; }
.btn-group .btn.btn-dark {
border-color: #3c425b; }
.btn-group .btn.btn-light {
border-color: #eff1f4; }

/*social buttons*/
.btn-twitter {
background: #1da1f2;
color: #ffffff; }
.btn-twitter:hover {
background: #0c85d0; }
.btn-twitter.btn-link {
background: none;
color: #1da1f2; }
.btn-twitter.btn-link:hover {
color: #0c85d0; }

.btn-facebook {
background: #3b579d;
color: #ffffff; }
.btn-facebook:hover {
background: #2d4278; }
.btn-facebook.btn-link {
background: none;
color: #3b579d; }
.btn-facebook.btn-link:hover {
color: #2d4278; }

.btn-google {
background: #dc4a38;
color: #ffffff; }
.btn-google:hover {
background: #bf3322; }
.btn-google.btn-link {
background: none;
color: #dc4a38; }
.btn-google.btn-link:hover {
color: #bf3322; }

.btn-linkedin {
background: #0177b4;
color: #ffffff; }
.btn-linkedin:hover {
background: #015581; }
.btn-linkedin.btn-link {
background: none;
color: #0177b4; }
.btn-linkedin.btn-link:hover {
color: #015581; }

.btn-pinterest {
background: #cc2127;
color: #ffffff; }
.btn-pinterest:hover {
background: #a01a1f; }
.btn-pinterest.btn-link {
background: none;
color: #cc2127; }
.btn-pinterest.btn-link:hover {
color: #a01a1f; }

.btn-youtube {
background: #e52d27;
color: #ffffff; }
.btn-youtube:hover {
background: #c21d17; }
.btn-youtube.btn-link {
background: none;
color: #e52d27; }
.btn-youtube.btn-link:hover {
color: #c21d17; }

.btn-github {
background: #333333;
color: #ffffff; }
.btn-github:hover {
background: #1a1a1a; }
.btn-github.btn-link {
background: none;
color: #333333; }
.btn-github.btn-link:hover {
color: #1a1a1a; }

.btn-behance {
background: #1769ff;
color: #ffffff; }
.btn-behance:hover {
background: #0050e3; }
.btn-behance.btn-link {
background: none;
color: #1769ff; }
.btn-behance.btn-link:hover {
color: #0050e3; }

.btn-dribbble {
background: #ea4c89;
color: #ffffff; }
.btn-dribbble:hover {
background: #e51e6b; }
.btn-dribbble.btn-link {
background: none;
color: #ea4c89; }
.btn-dribbble.btn-link:hover {
color: #e51e6b; }

.btn-reddit {
background: #ff4500;
color: #ffffff; }
.btn-reddit:hover {
background: #cc3700; }
.btn-reddit.btn-link {
background: none;
color: #ff4500; }
.btn-reddit.btn-link:hover {
color: #cc3700; }

/* inverse buttons */
.btn-inverse-primary {
color: #1991EB;
background-color: rgba(25, 145, 235, 0.2);
background-image: none;
border-color: rgba(25, 145, 235, 0); }
.btn-inverse-primary:hover {
color: #ffffff;
background-color: #1991EB;
border-color: #1991EB; }
.btn-inverse-primary.focus, .btn-inverse-primary:focus {
box-shadow: 0 0 0 3px rgba(25, 145, 235, 0.5); }
.btn-inverse-primary.disabled, .btn-inverse-primary:disabled {
color: #1991EB;
background-color: transparent; }
.btn-inverse-primary.active, .btn-inverse-primary:active,
.show > .btn-inverse-primary.dropdown-toggle {
color: #ffffff;
background-color: #1991EB;
border-color: #1991EB; }

.btn-inverse-secondary {
color: #dee2e6;
background-color: rgba(222, 226, 230, 0.2);
background-image: none;
border-color: rgba(222, 226, 230, 0); }
.btn-inverse-secondary:hover {
color: #ffffff;
background-color: #dee2e6;
border-color: #dee2e6; }
.btn-inverse-secondary.focus, .btn-inverse-secondary:focus {
box-shadow: 0 0 0 3px rgba(222, 226, 230, 0.5); }
.btn-inverse-secondary.disabled, .btn-inverse-secondary:disabled {
color: #dee2e6;
background-color: transparent; }
.btn-inverse-secondary.active, .btn-inverse-secondary:active,
.show > .btn-inverse-secondary.dropdown-toggle {
color: #ffffff;
background-color: #dee2e6;
border-color: #dee2e6; }

.btn-inverse-success {
color: #08D419;
background-color: rgba(8, 212, 25, 0.2);
background-image: none;
border-color: rgba(8, 212, 25, 0); }
.btn-inverse-success:hover {
color: #ffffff;
background-color: #08D419;
border-color: #08D419; }
.btn-inverse-success.focus, .btn-inverse-success:focus {
box-shadow: 0 0 0 3px rgba(8, 212, 25, 0.5); }
.btn-inverse-success.disabled, .btn-inverse-success:disabled {
color: #08D419;
background-color: transparent; }
.btn-inverse-success.active, .btn-inverse-success:active,
.show > .btn-inverse-success.dropdown-toggle {
color: #ffffff;
background-color: #08D419;
border-color: #08D419; }

.btn-inverse-info {
color: #745af2;
background-color: rgba(116, 90, 242, 0.2);
background-image: none;
border-color: rgba(116, 90, 242, 0); }
.btn-inverse-info:hover {
color: #ffffff;
background-color: #745af2;
border-color: #745af2; }
.btn-inverse-info.focus, .btn-inverse-info:focus {
box-shadow: 0 0 0 3px rgba(116, 90, 242, 0.5); }
.btn-inverse-info.disabled, .btn-inverse-info:disabled {
color: #745af2;
background-color: transparent; }
.btn-inverse-info.active, .btn-inverse-info:active,
.show > .btn-inverse-info.dropdown-toggle {
color: #ffffff;
background-color: #745af2;
border-color: #745af2; }

.btn-inverse-warning {
color: #FFC105;
background-color: rgba(255, 193, 5, 0.2);
background-image: none;
border-color: rgba(255, 193, 5, 0); }
.btn-inverse-warning:hover {
color: #ffffff;
background-color: #FFC105;
border-color: #FFC105; }
.btn-inverse-warning.focus, .btn-inverse-warning:focus {
box-shadow: 0 0 0 3px rgba(255, 193, 5, 0.5); }
.btn-inverse-warning.disabled, .btn-inverse-warning:disabled {
color: #FFC105;
background-color: transparent; }
.btn-inverse-warning.active, .btn-inverse-warning:active,
.show > .btn-inverse-warning.dropdown-toggle {
color: #ffffff;
background-color: #FFC105;
border-color: #FFC105; }

.btn-inverse-danger {
color: #FF0017;
background-color: rgba(255, 0, 23, 0.2);
background-image: none;
border-color: rgba(255, 0, 23, 0); }
.btn-inverse-danger:hover {
color: #ffffff;
background-color: #FF0017;
border-color: #FF0017; }
.btn-inverse-danger.focus, .btn-inverse-danger:focus {
box-shadow: 0 0 0 3px rgba(255, 0, 23, 0.5); }
.btn-inverse-danger.disabled, .btn-inverse-danger:disabled {
color: #FF0017;
background-color: transparent; }
.btn-inverse-danger.active, .btn-inverse-danger:active,
.show > .btn-inverse-danger.dropdown-toggle {
color: #ffffff;
background-color: #FF0017;
border-color: #FF0017; }

.btn-inverse-light {
color: #f8f9fa;
background-color: rgba(248, 249, 250, 0.2);
background-image: none;
border-color: rgba(248, 249, 250, 0); }
.btn-inverse-light:hover {
color: #ffffff;
background-color: #f8f9fa;
border-color: #f8f9fa; }
.btn-inverse-light.focus, .btn-inverse-light:focus {
box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5); }
.btn-inverse-light.disabled, .btn-inverse-light:disabled {
color: #f8f9fa;
background-color: transparent; }
.btn-inverse-light.active, .btn-inverse-light:active,
.show > .btn-inverse-light.dropdown-toggle {
color: #ffffff;
background-color: #f8f9fa;
border-color: #f8f9fa; }

.btn-inverse-dark {
color: #424964;
background-color: rgba(66, 73, 100, 0.2);
background-image: none;
border-color: rgba(66, 73, 100, 0); }
.btn-inverse-dark:hover {
color: #ffffff;
background-color: #424964;
border-color: #424964; }
.btn-inverse-dark.focus, .btn-inverse-dark:focus {
box-shadow: 0 0 0 3px rgba(66, 73, 100, 0.5); }
.btn-inverse-dark.disabled, .btn-inverse-dark:disabled {
color: #424964;
background-color: transparent; }
.btn-inverse-dark.active, .btn-inverse-dark:active,
.show > .btn-inverse-dark.dropdown-toggle {
color: #ffffff;
background-color: #424964;
border-color: #424964; }

.btn-inverse-teal {
color: #58d8a3;
background-color: rgba(88, 216, 163, 0.2);
background-image: none;
border-color: rgba(88, 216, 163, 0); }
.btn-inverse-teal:hover {
color: #ffffff;
background-color: #58d8a3;
border-color: #58d8a3; }
.btn-inverse-teal.focus, .btn-inverse-teal:focus {
box-shadow: 0 0 0 3px rgba(88, 216, 163, 0.5); }
.btn-inverse-teal.disabled, .btn-inverse-teal:disabled {
color: #58d8a3;
background-color: transparent; }
.btn-inverse-teal.active, .btn-inverse-teal:active,
.show > .btn-inverse-teal.dropdown-toggle {
color: #ffffff;
background-color: #58d8a3;
border-color: #58d8a3; }

/* Cards */

.card .card-body {
padding: 1rem; }
.card .card-body + .card-body {
padding-top: 0; }
.card.card-outline-success {
border: 1px solid #08D419; }
.card.card-outline-primary {
border: 1px solid #1991EB; }
.card.card-outline-warning {
border: 1px solid #FFC105; }
.card.card-outline-danger {
border: 1px solid #FF0017; }
.card.card-rounded {
border-radius: 5px; }
.card.card-faded {
background: #b5b0b2;
border-color: #b5b0b2; }
.card.card-circle-progress {
color: #ffffff;
text-align: center; }

.card-inverse-primary {
background: rgba(25, 145, 235, 0.2);
border: 1px solid #1785d8;
color: #136eb3; }

.card-inverse-secondary {
background: rgba(222, 226, 230, 0.2);
border: 1px solid #ccd0d4;
color: #a9acaf; }

.card-inverse-success {
background: rgba(8, 212, 25, 0.2);
border: 1px solid #07c317;
color: #06a113; }

.card-inverse-info {
background: rgba(116, 90, 242, 0.2);
border: 1px solid #6b53df;
color: #5844b8; }

.card-inverse-warning {
background: rgba(255, 193, 5, 0.2);
border: 1px solid #ebb205;
color: #c29304; }

.card-inverse-danger {
background: rgba(255, 0, 23, 0.2);
border: 1px solid #eb0015;
color: #c20011; }

.card-inverse-light {
background: rgba(248, 249, 250, 0.2);
border: 1px solid #e4e5e6;
color: #bcbdbe; }

.card-inverse-dark {
background: rgba(66, 73, 100, 0.2);
border: 1px solid #3d435c;
color: #32374c; }

.card-inverse-teal {
background: rgba(88, 216, 163, 0.2);
border: 1px solid #51c796;
color: #43a47c; }

/* Checkboxes and Radios */
.form-check,
.form-radio {
position: relative;
display: block;
margin-top: 15px;
margin-bottom: 10px; }
.form-check .form-check-label,
.form-radio .form-check-label {
display: block;
padding-left: 30px;
line-height: 1.5; }
.rtl .form-check .form-check-label, .rtl
.form-radio .form-check-label {
padding-left: 0;
padding-right: 30px; }
.form-check .form-check-label input,
.form-radio .form-check-label input {
position: absolute;
margin-left: -20px;
margin-top: 4px\9;
top: 0;
left: 0;
z-index: 1;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
margin-top: 0; }
.rtl .form-check .form-check-label input, .rtl
.form-radio .form-check-label input {
left: auto;
right: 0; }

.form-check .form-check-label {
font-size: 0.875rem;
line-height: 1.5;
padding-left: 10px; }
.form-check .form-check-label input:checked + .input-helper:before {
background-color: #ffffff; }
.form-check .form-check-label input:checked + .input-helper:after {
width: 18px;
opacity: 1;
line-height: 18px;
filter: alpha(opacity=100);
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
.form-check .form-check-label input:disabled + .input-helper:before {
border-color: #f3f3f3; }
.form-check .form-check-label input:disabled:checked + .input-helper:after {
color: #f3f3f3; }
.form-check .form-check-label .input-helper:before {
position: absolute;
content: "";
top: 2px;
width: 18px;
height: 18px;
border-radius: 2px;
left: 0;
border: 2px solid #f3f3f3;
-webkit-transition: all;
-o-transition: all;
transition: all;
transition-duration: 0s;
-webkit-transition-duration: 250ms;
transition-duration: 250ms; }
.rtl .form-check .form-check-label .input-helper:before {
left: auto;
right: 0; }
.form-check .form-check-label .input-helper:after {
-webkit-transition: all;
-o-transition: all;
transition: all;
transition-duration: 0s;
-webkit-transition-duration: 250ms;
transition-duration: 250ms;
font-family: Material Design Icons;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
content: '\F12C';
position: absolute;
font-size: .9375rem;
font-weight: bold;
left: 0;
top: 2px;
color: #745af2; }
.rtl .form-check .form-check-label .input-helper:after {
left: auto;
right: 0; }

.form-check.form-check-flat label input:checked + .input-helper:before {
background-color: #08D419;
border: none; }

.form-check.form-check-flat label input:disabled + .input-helper:after {
color: #ffffff; }

.form-check.form-check-flat label input:disabled + .input-helper:before {
border-color: #f3f3f3; }

.form-check.form-check-flat label input:disabled:checked + .input-helper:before {
background: #f7f7f9; }

.form-check.form-check-flat label .input-helper:before {
border: 2px solid #f3f3f3; }

.form-check.form-check-flat label .input-helper:after {
color: #ffffff; }

.form-radio label input + .input-helper:before {
position: absolute;
content: "";
top: 2px;
left: 0;
border: 2px solid #f3f3f3;
width: 20px;
height: 20px;
border-radius: 50%;
-webkit-transition: all;
-o-transition: all;
transition: all;
transition-duration: 0s;
-webkit-transition-duration: 250ms;
transition-duration: 250ms; }
.rtl .form-radio label input + .input-helper:before {
left: auto;
right: 0; }

.form-radio label input + .input-helper:after {
content: "";
width: 8px;
height: 8px;
background: #FF0017;
border-radius: 50%;
top: 8px;
left: 6px;
-webkit-transition: all;
-o-transition: all;
transition: all;
transition-duration: 0s;
-webkit-transition-duration: 250ms;
transition-duration: 250ms;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
position: absolute; }
.rtl .form-radio label input + .input-helper:after {
left: auto;
right: 6px; }

.form-radio label input:checked + .input-helper:before {
background-color: #ffffff;
border: 2px solid #f3f3f3; }

.form-radio label input:checked + .input-helper:after {
opacity: 1;
line-height: 1.5;
filter: alpha(opacity=100);
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }

.form-radio label input:disabled + .input-helper:before {
border-color: #f3f3f3; }

.form-radio label input:disabled:checked + .input-helper:before {
background-color: #ffffff;
border-color: #f3f3f3; }

.form-radio label input:disabled:checked + .input-helper:after {
background-color: #f3f3f3; }

.form-radio.form-radio-flat label input:checked + .input-helper:before {
background: #08D419;
border-color: #08D419; }

.form-radio.form-radio-flat label input:checked + .input-helper:after {
width: 20px;
height: 20px;
top: 2px;
left: -2px;
color: #ffffff;
background: none;
content: '\F12C';
font-family: Material Design Icons;
text-align: center;
font-weight: bold; }
.rtl .form-radio.form-radio-flat label input:checked + .input-helper:after {
left: auto;
right: -2px; }

/* Dropdowns */
.dropdown-menu {
font-size: 0.875rem; }
.dropdown-menu .dropdown-item:active {
background: initial; }

/* Forms */
.input-group-append,
.input-group-prepend {
background: #ffffff;
color: #c9c8c8;
width: auto;
border: none; }
.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
border-color:#ccc;}

.form-control {
border: 1px solid #ccc;
font-family: "Poppins", sans-serif;
font-size: 0.875rem;
padding: 0.56rem 0.75rem;
line-height: 14px;
height:40px;
 }
.form-control.form-control-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .form-control.input-group-text,
.input-group-lg > .input-group-append > .form-control.input-group-text,
.input-group-lg > .input-group-prepend > .form-control.btn,
.input-group-lg > .input-group-append > .form-control.btn {
padding: 0.5rem 0.75rem; }
.form-control.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .form-control.input-group-text,
.input-group-sm > .input-group-append > .form-control.input-group-text,
.input-group-sm > .input-group-prepend > .form-control.btn,
.input-group-sm > .input-group-append > .form-control.btn {
padding: 0.25rem 0.75rem; }

select.form-control {
padding: 0.4375rem 0.75rem; }

.form-group label,.form-inline label {
font-size: 0.875rem;
line-height: 1;
vertical-align: middle; 
color:#333;
font-weight:500;
text-align:right;
padding-top: calc(0.7rem );
text-transform:capitalize;
}

.form-group.has-danger .form-control {
border-color: #FF0017; }

.form-group .file-upload-default {
visibility: hidden;
position: absolute; }

.form-group .file-upload-info {
background: transparent; }

/* Icons */
.icons-list {
border-left: 1px solid #f3f3f3;
border-bottom: 1px solid #f3f3f3; }
.icons-list > div {
background: #ffffff;
border-top: 1px solid #f3f3f3;
border-right: 1px solid #f3f3f3;
display: -webkit-flex;
display: flex;
-webkit-align-items: center;
align-items: center;
padding: 15px;
font-family: "Poppins", sans-serif;
font-size: 0.875rem; }
.icons-list > div i {
display: inline-block;
font-size: 20px;
width: 40px;
text-align: left;
color: #1991EB; }

/* Preview */
.preview-list .preview-item {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-align-items: flex-start;
align-items: flex-start;
padding: 0.75rem 1.5rem;
font-size: 0.875rem; }
.preview-list .preview-item:last-child {
border-bottom: 0; }
.preview-list .preview-item:hover {
background: #f8f9fa; }
.preview-list .preview-item .form-check {
margin-top: 8px;
margin-right: 1rem; }
.preview-list .preview-item .preview-thumbnail {
color: #ffffff;
position: relative; }
.preview-list .preview-item .preview-thumbnail .preview-icon,
.preview-list .preview-item .preview-thumbnail img {
width: 36px;
height: 36px;
border-radius: 100%; }
.preview-list .preview-item .preview-thumbnail .preview-icon {
padding: 6px;
text-align: center; }
.preview-list .preview-item .preview-thumbnail .preview-icon i {
font-size: 1.125rem; }
.preview-list .preview-item .preview-thumbnail .badge {
border: 2px solid #ffffff;
border-radius: 100%;
bottom: 5px;
display: block;
height: 14px;
left: -5px;
padding: 0;
position: absolute;
width: 14px; }
.preview-list .preview-item .preview-item-content {
line-height: 1;
padding-left: 15px; }
.rtl .preview-list .preview-item .preview-item-content {
padding-left: 0;
padding-right: 15px; }
.preview-list .preview-item .preview-item-content:first-child {
padding-left: 0; }
.rtl .preview-list .preview-item .preview-item-content:first-child {
padding-right: 0; }
.preview-list .preview-item .preview-item-content p {
margin-bottom: 10px; }
.preview-list .preview-item .preview-item-content p .content-category {
font-family: "Poppins", sans-serif;
padding-right: 15px;
border-right: 1px solid #f3f3f3; }
.preview-list .preview-item .preview-actions {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row; }
.preview-list .preview-item .preview-actions i {
width: 29px;
color: #f7f7f9;
height: 29px;
border: 2px solid #f7f7f9;
border-radius: 100%;
padding: 3px 6px;
display: inline-block; }
.preview-list .preview-item .preview-actions i:first-child {
margin-right: 10px; }

.preview-list.comment-preview .preview-item {
padding: 0.87rem 0; }
.preview-list.comment-preview .preview-item:first-child {
padding-top: 0; }
.preview-list.comment-preview .preview-item p {
line-height: 27px; }

.preview-list.bordered .preview-item {
border-bottom: 1px solid #f3f3f3; }
.preview-list.bordered .preview-item:last-child {
border-bottom: 0; }

/* Tables */
.table {
margin-bottom: 0; border:1px solid #eee;white-space: nowrap;}
.table thead th {
border-top: 0;
border-bottom-width: 1px;
font-family: "Poppins", sans-serif;
font-weight: 500; }
.table thead th i {
margin-left: 0.325rem; font-size:14px;}
.table td,
.table th {
vertical-align: middle;
font-size: 0.875rem;
line-height: 1; }
.table td img,
.table th img {
max-width: 100%; }
.table td .badge,
.table th .badge {
margin-bottom: 0; }
.table.table-borderless {
border: none; }
.table.table-borderless td,
.table.table-borderless th,
.table.table-borderless tr {
border: none; }

/*-------------------------------------------------------------------*/
/* === Landing screens === */
/* Auth */
.auth.login-full-bg {
background-size: cover; }

.auth.register-full-bg {
background: url("../assets/images/auth/register_1.jpg");
background-size: cover; }

.auth .auth-form-dark {
background: rgba(0, 0, 0, 0.6);
color: #ffffff; }
.auth .auth-form-dark .form-control {
border-color: rgba(255, 255, 255, 0.2);
color: #ffffff; }
.auth .auth-form-dark .form-control:-ms-input-placeholder {
color: #ffffff; }
.auth .auth-form-dark .form-control:-moz-placeholder {
color: #ffffff; }
.auth .auth-form-dark .form-control::-moz-placeholder {
color: #ffffff; }
.auth .auth-form-dark .form-control::-webkit-input-placeholder {
color: #ffffff; }

.auth .auth-form-light {
background: rgba(255,255,255,0.95);
color: #000;
box-shadow: 3px 3px 14px #ccc;
max-width:510px;
margin: 0 auto;
}
.auth .auth-form-light .form-control {
border-color: rgba(0, 0, 0, 0.2);
color: #000; }
.auth .auth-form-light .form-control:-ms-input-placeholder {
color: #000; }
.auth .auth-form-light .form-control:-moz-placeholder {
color: #000; }
.auth .auth-form-light .form-control::-moz-placeholder {
color: #000; }
.auth .auth-form-light .form-control::-webkit-input-placeholder {
color: #000; }

.auth .auth-form-transparent {
background: transparent;
color: #ffffff; }
.auth .auth-form-transparent form .form-group .form-control {
padding-left: 1rem;
padding-right: 1rem;
border-color: rgba(255, 255, 255, 0.2); }

.auth form .form-group {
margin-bottom: 25px;
position: relative;
}
.auth form .form-group label {
margin-bottom: 0;
vertical-align: bottom;
font-size: 0.8125rem;
font-family: "Poppins", sans-serif; }
.auth form .form-group .form-control {
background: transparent;
border-top: 0;
border-left: 0;
border-right: 0;
border-radius: 0;
padding-right: 2.5rem;
font-size: 0.9375rem; 
border: 1px solid #ccc;
border-radius:5px;
height:40px;
}
.auth-form-light .error-block{position:absolute;}
.auth form .form-group i {
position: absolute;
right: 1rem;
height: 18px;
top:13px; 
opacity:0.5;;
}

.auth form .btn {
font-size: 1.25rem; }

.auth form .auth-link {
font-size: 0.875rem; 
font-weight:700;
color:#256de0;
}
.auth form .auth-link:hover {
color: initial; }

.authentication-form .login-header img{margin-bottom:15px;width:300px;}

/* Error */
.error-page h1 {
font-size: 9.375rem;
line-height: 1; }
@media (max-width: 991px) {
.error-page h1 {
font-size: 8rem; }

}

.error-page h2 {
font-size: 4.375rem;
line-height: 1; }

@media (min-width: 992px) {
.error-page .error-page-divider {
border-left: 3px solid rgba(255, 255, 255, 0.2); } }

/*# sourceMappingURL=maps/style.css.map */


/*Custom css start - angular*/
.logout-container>a{
margin: 0 auto;
}

.swal2-popup.custom-toaster{
width: 26em;
padding: 0.55em;
box-shadow: -2px 2px 14px #464646;
}

.swal2-popup.custom-toaster h2{
font-size: 1.1em;
font-weight: normal;
}

.margin-l-0{
margin-left: 0 !important;
}

.swal2-popup .swal2-title{
font-size: 1.6em !important;
}

.verified-icon i{
font-size: 16px;
}

.verified-icon i.mdi-check{
color: green;
}
.verified-icon i.mdi-close{
color: red;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .preview-icon{
width: 33px !important;
height: 33px !important;
padding: 5px !important;
}
.preview-list .preview-item .preview-item-content {
padding-top: 6px;
}

.card-center-block{
width: 1200px;
/*margin : 0 auto;*/
}
.card-center-block h5{opacity:0.8;}
.card-center-block p{padding:0.5rem 0 0;margin-bottom:0;}
.button-group-container button{
margin-left: 10px;
}

.error-block{
font-size: 13px;
color: #e60f00;
}

/*****************************************
upload button styles
******************************************/
.file-upload {
position: relative;
display: inline-block;
}
.file-upload:hover {
cursor: pointer !important;
}


.file-upload__input {
display: none;
}

.file-upload .btn{
margin-bottom: 0px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
background-color: #289eee;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
background-color: rgba(37, 210, 218, 0.18);
}

.custom-table thead {
background: #f3f6f9;
color: #47404f;
}
.custom-table .fa-check,.custom-table .fa-close {font-size:1.5em;}

/*Data table styles*/

.custom-table.hide-empty .dataTables_empty{
display: none;
}

.pagination{
float: right;
}
.custom-pagination .ng-select{
width: 100px;
float: none;
display: inline-block;
}
.custom-pagination .item-text{
float: none;
padding: 5px;
margin-left: 10px;
}

.profile-img{
position: relative;
width: 130px;
height: 130px; 

}


.profile-img .inner-image,.banner-section .inner-image{
width: 100%;    
height: 100%;
border-radius:5px;
overflow: hidden;
max-height: 270px;
}

.profile-img img{
width: 100%;
height: 100% !important;
object-fit: cover;
}

a { cursor: pointer; }

.profile-img .file-input,.user-profile-img .file-input,.banner-section .upload-file .file-input{
position: absolute;
top: 0;
left: 0;
/* width: 250px;
height: 250px; */
cursor: pointer;
opacity: 0;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f6f6f6;
min-width: 230px;
overflow: auto;
border: 1px solid #ddd;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.show {display: block;}
.profile-img .upload-file{ bottom: -8px;}
.profile-img .upload-file,.user-profile-img .upload-file,.banner-section .upload-file{
position: absolute;
right: 0px;
background:#256de0;
border-radius: 50%;
width: 30px;
height: 30px;
padding: 0px;
line-height: 30px;
text-align: center;
}
/* .profile-img .upload-file, .user-profile-img .upload-file, .banner-section .upload-file:hover{cursor: pointer;}

.upload-file label{width: 30px;
  height: 30px;
  position: relative;}
  .upload-file a {position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;} 
    .user-profile-img .upload-file{margin-left: auto;position:relative;} */
    .banner-section .upload-file{bottom:0px;}
.profile-img .upload-file a,.user-profile-img .upload-file a,.banner-section .upload-file a{
color: #fff;
display:inline-block;
padding:0;
font-size: 20px;
}


/*recipe image*/
.profile-img.recipe-img{
width: 345px;
height: 250px;
}   

.profile-img.recipe-img .inner-image{
border-radius: 0;
} 

.profile-img .mat-accent{position: absolute;right: -10px;z-index: 111;bottom: -10px;}
.hide-style{display:none;}

.thumb-img{
width:34px;
height:34px;
overflow: hidden;
box-shadow: 0px 0px 2px #000;
border-radius : 50%;
vertical-align:middle;
display: inline-block;
}

.thumb-img img{
width: 100%;
height: 100%
}

.form-check .form-check-label .input-helper:before{
border: 2px solid #c1c1c1;
}
.form-check .form-check-label .input-helper:after{
margin: 3px;
color: #ffc106;
}
.form-check-label {
padding-left: 4px;
}
.form-check-label:hover {
cursor: pointer;
}

.swal2-popup {
border-radius: 0px !important;
font-size: 0.90rem !important; 
padding: 30px !important;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
margin: auto;
vertical-align: middle;
width:220px;
height: auto;
padding: 0 10px 0;
}

.record-not-found{
width: 100%;
text-align: center;
border: 1px solid #d9e0e6;
padding: 75px;
margin-top: 0px;
margin-bottom: 97px;
display: block;
min-height: 300px;
color: #ff8600;
}

.table-search-icon{
position: absolute;
top: -5px;
right: 12px;
font-size: 33px;
color: #d9e0e6;
}
input.search-box{
margin-bottom: 10px;
padding: 7px;
}
#react-paginate ul {
display: inline-block;
padding-left: 15px;
padding-right: 15px;
}



#react-paginate li {
display: inline-block;
}

#react-paginate .break a {
cursor: default;
}

table.dataTable tbody th, table.dataTable tbody td,table.dataTable thead th {
padding: 15px 10px;
}
table.dataTable tbody td{  padding: 0px 10px;position:relative;vertical-align:middle;}
table.dataTable.with-image tbody th, table.dataTable.with-image tbody td {
padding:10px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item:active{
color: inherit;
}

.custom-pagination{
padding-top: 10px;
width: 100%;
border-top: 1px solid #ccc;
margin-top: 30px;
}
#editdel{
color: #2aa0eb;

}
.fa-arrow-up{
/* height: 30px; */
widows: 30px;
background-color:"white"

}
.form-sample{
justify-content:center;
}
.profile-form {width:600px;}
.dp-corner{
background: white;
width: 37px;
height: 37px;
display: block;
border-radius: 50%;
padding: 0px
}

.table-responsive #sort-direction {
display: inline-block;
height: 10px;
width: 10px;
border-left: 5px solid whitesmoke;
border-right: 5px solid whitesmoke;
}
.table-responsive #sort-direction#asc {
border-bottom: 5px solid black;
}

.table-responsive #sort-direction#desc {
border-top: 5px solid black;
}



.btn{
border-radius:5px;
}

.btn-primary:hover,.swal-button:hover, .swal-button:not([disabled]):hover {
color: #fff;
background-color:#0050e3;
border-color:#0050e3;
}

.login-header{
text-align: center;
}

.login-header h2{
color:#256de0;
margin-bottom:20px;
}
.swal2-popup .swal2-styled.swal2-confirm {
background-color: #279eee !important; 
border-radius: 41px !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
border-radius: 41px !important;
background-color: #ccc !important; 
}

.nav > .nav-item.active {
color: #256de0;
background:#fff;
position: relative;
}

/* .nav-item.active::after {
content: "";
position: absolute;
bottom: 17px;
right: -15px;
border-width: 18px 20px 0;
border-style: solid;
border-color: #f6f8fa transparent;
display: block;
width: 0;
transform: rotate(162140deg);
-webkit-transform: rotate(90deg);
} */

.page-item.active .page-link {
z-index: 1;
color: #fff;
background-color: #279eee;
border-color: #279eee;
}
/* Sidebar */
#sidebarCollapse{line-height:65px;}
.sidebar {
min-height: calc(100vh - 58px);
background-color: #fff;
font-family: 'Roboto', sans-serif;
padding: 0;
z-index: 99;
transition:0.5s;
-webkit-transtion:0.5s;
width: 250px;
position: fixed;
box-shadow: 1px 0 20px rgba(0,0,0,.08);
}
.sidebar .nav {
flex-wrap: nowrap;
flex-direction: column;
padding-bottom: 50px; 
position: relative;
}
.sidebar .nav .nav-item{list-style:none;position: relative;}
.sidebar .nav .nav-item .collapse {
z-index: 99999; }
.sidebar .nav .nav-item .collapse.show,
.sidebar .nav .nav-item .collapsing {
background: #f1f6ff; }
.sidebar .nav .nav-item .nav-link {
align-items: center;
display: flex;
padding: 1rem 1.875rem;
white-space: nowrap;
height: 50px;
color: #4a4949; }
.sidebar .nav .nav-item .nav-link[aria-expanded="true"] {
background: #f1f6ff; }
.sidebar .nav .nav-item .nav-link .menu-icon {
margin-right: 1.25rem;
width: 16px;
line-height: 1; }
.rtl .sidebar .nav .nav-item .nav-link .menu-icon {
margin-right: 0;
margin-left: 1.25rem; }

.sidebar .nav .nav-item .nav-link i.menu-arrow {
margin-left: auto;
margin-right: 0; }
.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
content: "\F35D";
font-family: "Material Design Icons";
font-size: 18px;
line-height: 1;
font-style: normal;
vertical-align: middle;
color: rgba(74, 73, 73, 0.5); }
.sidebar .nav .nav-item .nav-link .menu-title {
color: inherit;
display: inline-block;
font-size: 0.95rem;
line-height: 1;
vertical-align: middle;
width:calc(100% - 15px);
}
.sidebar .nav__subnav .nav-item .nav-link .menu-title{font-size:14px;}
.sidebar .nav__subnav .nav-item .nav-link i{font-size:11px;}
.sidebar .nav .nav-item .nav-link .badge {
margin-left: auto; }
.sidebar .nav .nav-item .nav-link:hover {
color: #3d3c3c; }
.sidebar .nav .nav-item.nav-profile {
background: transparent; }
.sidebar .nav .nav-item.nav-profile .nav-link {
font-family: "Poppins", sans-serif;
display: block;
height: auto;
padding: 0 1.625rem 2.25rem 1.188rem; }
.sidebar .nav .nav-item.nav-profile .profile-image {
position: relative;
width: 70px;
height: 70px;
margin: auto; }
.sidebar .nav .nav-item.nav-profile .profile-image img {
width: 70px;
height: 70px;
border-radius: 100%; }
.sidebar .nav .nav-item.nav-profile .profile-name {
margin-top: 0.75rem;
text-align: center; }
.rtl .sidebar .nav .nav-item.nav-profile .profile-name {
margin-left: auto;
margin-right: 0.75rem; }
.sidebar .nav .nav-item.nav-profile .profile-name .designation,
.sidebar .nav .nav-item.nav-profile .profile-name .name {
font-family: "Poppins", sans-serif;
margin-bottom: 0;
line-height: 1.5;
font-weight: 500; }
.sidebar .nav .nav-item.nav-profile .profile-name .name {
color: #404852; }
.sidebar .nav .nav-item.nav-profile .profile-name .designation {
color: #8d9498;
font-size: 0.75rem; }
.sidebar .nav .nav-item.nav-profile i {
color: #ffffff;
font-size: 1rem;
margin-left: auto; }
.sidebar .nav .nav-item.active > .nav-link .menu-title,
.sidebar .nav .nav-item.active > .nav-link i {
color: inherit; }
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
background: #f1f6ff;
color: #4a4949; }
.sidebar .nav.sub-menu {
margin-bottom: 0;
padding: 0 0 0 3.25rem; }
.sidebar .nav.sub-menu .nav-item .nav-link {
color: #4a4949;
padding: 0.75rem 1rem;
font-size: 0.875rem;
line-height: 1;
height: auto; }
.sidebar .nav.sub-menu .nav-item .nav-link.active {
color: #1991EB;
background: transparent; }
.sidebar .nav.sub-menu .nav-item .nav-link.active:before {
background: #1991EB; }

.sidebar .nav.sub-menu .nav-item:hover > .nav-link {
background: initial;
color: #000; }
.sidebar .nav.sub-menu .nav-item:hover > .nav-link:before {
background: #000; }



.sidebar .nav > .nav-item.active > .nav-link {
color: #256de0;
}

.sidebar .nav .nav-item .nav-link {
padding: 10px 15px 10px 15px;
color: #8d97ad;
font-weight:400;
cursor: pointer;
overflow:hidden;
position: relative;
}


.sidebar .nav .nav-item .nav-link .menu-icon {
width: 20px;
}

.sidebar .nav .nav-item .nav-link:hover {
color: #256de0;
background:#fff;
}


.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
color: #256de0;
background:#fff;
}
.sidebar .nav__submenu{
position: absolute;
left: 100%;
background: #fff;
top: 0;
/*width:100%;*/
transition:0.5s;
-webkit-transition:0.5s;
height: 0;
box-shadow:5px 5px 5px rgba(0, 0, 0, 0.20);
}

.sidebar .nav__subnav .nav-item .nav-link{color:#797979;}
.sidebar .nav-item:hover .nav__submenu {height:auto !important;overflow: visible !important;visibility: visible;}
.sidebar .nav__subnav .nav-item .nav-link:hover{background:#eef5f9;opacity:1;}
/* .sidebar .nav > .nav-item.active .nav-link:before,.sidebar .nav > .nav-item:hover > .nav-link:before,.sidebar .nav__submenu  .nav-item:hover .nav-link:before{
content: "";
position: absolute;
right: -18px;
background: #256de0;
height: 15px;
width: 40px;
-webkit-transform: rotate(90deg);
transform: rotate(-45deg);
bottom: 0;
} */

.ing-list{
list-style: none;
border: 1px solid #ccc;
padding: 19px;
font-size: 14px;
line-height: 32px;
}

.thumb-img.recipe-img {
width: 76px;
height: 50px;
overflow: hidden;
box-shadow: 0px 0px 2px #000;
border-radius: 0;
}

.ng-select .ng-control .ng-value-container .ng-placeholder{
font-size: 14px;
color: #cbcaca;
}

.radio-container .form-radio .form-check-label{
display: inline-block;
position: relative;
margin-right: 18px;
padding-top: 2px;
}

.form-radio label input:checked + .input-helper:before {
border: 2px solid #ffcccd;
}

.form-radio label input + .input-helper:before {
border: 2px solid #eaeaea;
}

.form-radio label input:checked + .input-helper:after {
background :#279eee;
}

.cat-icon {
width: 50px;
height: auto;
}


.inner-cat-image img{
width: auto;
}

.profile-img.cat-image{
height: auto;
}

.profile-img.cat-image .upload-file {
position: absolute;
top: 0;
}

.form-group label.right{
padding-top: 10px;
color: #279eee;
}
.error-input .form-control{border: 1px solid #e60f00;}

.profile-img.user-img .inner-image{
border-radius: 0px
}

a {
color: #279eee;
}

.dropdown-menu.settings-menu {
background: #f6f8fa;
padding: 5px 15px;
box-shadow: 0px 2px 7px #969696;
border-radius: 0px;
}
.cms-mang {
position: relative;
z-index: 99999;
}
.cms-mang .dropdown-menu.settings-menu {
background: #f6f8fa;
padding: 5px 15px;
box-shadow: 0px 2px 7px #969696;
border-radius: 0px;
left: inherit !important;
right: -43px !important;
}
.form-check.form-check-flat label input:checked + .input-helper:before {
background-color: #279eee;
border: none;
}

.form-check.form-check-flat label .input-helper:before {
border: 1px solid #a7a7a7;
}
.form-check.form-check-flat label input:disabled:checked + .input-helper:before {
background: #bbbbbb;
}

.navbar {
background:#fff;  
z-index:1051;
}

.sidebar .nav .nav-item .nav-link i {width: 30px;font-size:20px;color:#787f91;}


.sidebar.active:hover{width:250px;}

.navbar .navbar-brand-wrapper{
width: 250px !important;
}
.navbar .navbar-menu-wrapper{width: calc(100% - 250px);}

.button-continer .btn{
margin-left:5px;
}

.footer{
margin-left: 277px;
}


.collapse.show.filter-block{
border: 1px solid rgb(204, 204, 204);
padding: 13px;
margin: 17px;
}

/* Collapse CSS start */
.sidebar .collapse.show{
height:calc(100vh - 58px) !important;
overflow: visible !important;

}

.sidebar .collapse{
/* display: block !important; */
/* max-height: 0px !important; */
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
overflow: hidden !important;
display: inherit;
visibility: hidden;
}
/* Collapse CSS end */

.auth{
margin : 0px;
}

.coming-soon img{
width: 400px;
margin-top: 10%;
}

.thumb-img.media-list{
border-radius: 0px;
overflow: hidden;
}

.thumb-img.media-list:hover{
cursor: pointer;
}

.thumb-img.media-list img{
width: 100%;
height: auto;
}

.option-button{
display: inline-block;
margin-left: 10px;
color: #289eee;
width: 30px;
height: 30px;
text-align: center;
padding: 4px;
border-radius: 50%;
}

.option-button.active{
background: #289eee;
color: #fff;
}

.thumbnail-item{
width: 100%
}

.thumbnail-item li{
width: 100px;
height: auto;
margin: 20px;
display: inline-block;
list-style: none;
vertical-align: top;
font-size: 12px;
text-align: center;
}

.thumbnail-item .grid-img-container{
width: 100px;
height: 100px;
border: 1px solid #ccc;
padding: 10px;
}

/*.label{
font-size: 12px;
}*/  



.thumbnail-item li img{
width: 100%;
height:auto;
}

.preview-media .modal-content{
padding: 0px;
border-radius: 0px;
border: none;
box-shadow: 0px 0px 10px #5f5f5f;
padding: 15px;
}

.preview-media .bottom{
padding: 15px;
}

.preview-media .modal-content .close{
width: 40px;
height: 40px;
background: black;
border-radius: 50%;
color: #fff;
position: absolute;
right: -20px;
top: -20px;
}

.preview-media .image{
max-width: 100%;
height: auto;
margin: 0 auto;
display: block;
}




th .form-check.form-check-flat label .input-helper:before{
border: 1px solid #fff;
}

th .form-check.form-check-flat label input:checked + .input-helper:before {
background-color: #ffffff;
}

th .form-check.form-check-flat label .input-helper:after {
color: #289eee;
}

th .form-check{ margin: 0px;}

td .form-check{ margin: 0px;}
tr.active{
background: #eee;
}

.switch-small.checked small{
left: 29px !important;
}

.switch-small{
width: 47px !important;
height: 20px;
border-radius: 20px;
}

.switch .switch-text {
font-size: 12px !important;
line-height: 12px;
}

.mce-branding.mce-widget.mce-label.mce-flow-layout-item.mce-last{
display: none !important;
}
.action-buttons a{
text-decoration: none;
padding: 8px;
display: inline-block;
background: transparent;
width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
margin: 3px;
}

.action-buttons a.edit:hover{
background: #63bd62;
color: #fff
}

.action-buttons a.delete:hover{
background: #e8590d;
color: #fff
}

.react-toggle {
touch-action: pan-x;
display: inline-block;
position: relative;
cursor: pointer;
background-color: transparent;
border: 0;
padding: 0;
margin-top:5px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

.react-toggle--disabled {
cursor: not-allowed;
opacity: 0.5;
-webkit-transition: opacity 0.25s;
transition: opacity 0.25s;
}

.react-toggle-track {
width: 50px;
height: 24px;
padding: 0;
border-radius: 30px;
background-color: #4D4D4D;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
background-color: #128D15;
}

.react-toggle-track-check {
position: absolute;
width: 14px;
height: 10px;
top: 0px;
bottom: 0px;
margin-top: auto;
margin-bottom: auto;
line-height: 0;
left: 8px;
opacity: 0;
-webkit-transition: opacity 0.25s ease;
-moz-transition: opacity 0.25s ease;
transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
opacity: 1;
-webkit-transition: opacity 0.25s ease;
-moz-transition: opacity 0.25s ease;
transition: opacity 0.25s ease;
}

.react-toggle-track-x {
position: absolute;
width: 10px;
height: 10px;
top: 0px;
bottom: 0px;
margin-top: auto;
margin-bottom: auto;
line-height: 0;
right: 10px;
opacity: 1;
-webkit-transition: opacity 0.25s ease;
-moz-transition: opacity 0.25s ease;
transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
opacity: 0;
}

.react-toggle-thumb {
transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
position: absolute;
top: 1px;
left: 1px;
width: 22px;
height: 22px;
border: 1px solid #4D4D4D;
border-radius: 50%;
background-color: #FAFAFA;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
transition: all 0.25s ease;
}
.react-toggle-thumb:focus{outline:none;box-shadow:none;}
.react-toggle--checked .react-toggle-thumb {
left: 27px;
border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
-webkit-box-shadow: 0px 0px 3px 2px #0099E0;
-moz-box-shadow: 0px 0px 3px 2px #0099E0;
box-shadow: 0px 0px 2px 3px #0099E0;
}

/* .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
-webkit-box-shadow: 0px 0px 5px 5px #0099E0;
-moz-box-shadow: 0px 0px 5px 5px #0099E0;
box-shadow: 0px 0px 5px 5px #0099E0;
} */

.media .my-drop-zone { border: dotted 3px lightgray; }
.media .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.media .another-file-over-class { border: dotted 3px green; }


.swal-text {
text-align: center;
}

.swal-title {
font-weight: 100; 
font-size: 18px;
}

.form-control{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.ant-select-selection--multiple .ant-select-selection__rendered{
height: 39px !important;
}

.filter-list input[type=number]::-webkit-inner-spin-button, 
.filter-list input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{ 
-webkit-appearance: none; 
margin: 0; 
}
.loader-wrapper{position: absolute;background:rgba(0, 0, 0, 0.25);top:0;left:0;width:100%;height:100%;z-index:9999;}
.ReactCrop__image{max-height:inherit!important;}
/* .ReactCrop__image{width:100%;}
.ReactCrop{max-width:initial !important;}
.App{width:100%;float: left;}
.crop-img{width:100%;} */

/* React Crop Style */
.imgcrop-wrap
{
  position: relative;
  width: 100%;
  margin: 20px 20px 20px 0;
}
.imgcrop-wrap .croped-img{
  position: absolute;
  width: 100%;
  height: 100%;
  right: -105%;
  top: 0;
}
.drop-section .reactcrop {
  max-height: 300px;
  height: 100%;
  width: auto;
  background-color: #FFF;
}
.css-lyovzr-Loader{ 
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.close-icn .fa{position: absolute;left: -10px;
  top: -12px;
  z-index: 1;
  background: #fff;
  border-radius: 50px;cursor: pointer;}
/* mobile-banner-img */
.mobile-banner-img{max-width: 415px;}
.mobile-banner-img .inner-image{max-width: 415px;min-height: 275px;border: 1px solid #ccc;}
.inner-image{border: 1px solid #ccc;}

/* Select leng */
#google_translate_element {position: absolute;
  right: 15px;
  top: 15px;}
  .goog-te-gadget .goog-te-combo{color: #000!important;}
  .goog-te-gadget{color: transparent!important;}
  .goog-logo-link, .goog-logo-link:link{display: none;}
  .skiptranslate{display: none;}
  .skiptranslate.goog-te-gadget{display: block;}
  body{top: 0!important;}

@media print {
  .print-payment .table {
    border:0 !important;
  }
  .print-payment .table td{border:0px solid #333 !important;}
   .print-payment .table-striped td{border-top:1px solid #000 !important;}
 
}

/* Responsive style */
@media (min-width: 1200px) {
.sidebar.active  {
width: 55px;
}
.sidebar.active .user-profile  .thumb-img{width:44px;height:44px;}
.main-panel.active {width:calc(100% - 55px );}
.main-panel.active .affix{left:70px;width: calc(100% - 85px);}
.sidebar.active .drop-arrow{display:none;}
.sidebar.active .nav .nav-item .nav-link .menu-title{opacity:0;}
.sidebar.active:hover .nav .nav-item .nav-link .menu-title{opacity:1;}
.sidebar.active:hover .drop-arrow{display:block;}
.sidebar.active .user-profile span{display:none;}
}
@media (max-width: 1400px) {
.card-center-block{width:900px;margin:0 auto;}
}

@media (max-width: 1200px) {
.card-center-block{width:100%;}
.stretch-card div,.card-statistics .statistics-detail{padding:0;}

}
@media (max-width: 1199px) {
.sidebar{visibility: hidden;width:0;}
.main-panel{width:100%;}
.sidebar.active{display:block;visibility:visible;width:250px;}
.table label, .table-footer label, .header-pagination label{font-size:12px;}
.progressbar-list li{width:20%;}
.sidebar .nav .nav-item .nav-link {height:45px;}
}


@media (max-width: 991px) {
.table .btn-border{padding:5px;}
.page-header h3{font-size:18px;}
.card-statistics .card-title{font-size:20px;}
.card-statistics p.sub-text{white-space: nowrap;font-size:12px;}
}
@media (max-width: 767px) {
.login-header h2{font-size:22px;}
.authentication-form .login-header img{height:60px;}
.form-group label, .form-inline label{text-align:left;}

}

@media (max-width: 630px){
.navbar .navbar-brand-wrapper{width:230px !important;}
}








/* custom-loader */
.loader-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(76, 76, 76, 0.4);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1052;
}
.lds-spinner {color: official; display: inline-block; position: relative; width: 64px; height: 64px; position: absolute; top: 50%; transform: translateY(-50%);margin: 0 auto; text-align: center; left: 0; right: 0;}
.lds-spinner div {transform-origin: 32px 32px; animation: lds-spinner 1.2s linear infinite; }
.lds-spinner div:after {content: " "; display: block; position: absolute; top: 3px; left: 29px; width: 5px; height: 14px; border-radius: 20%; background: #fff; }
.lds-spinner div:nth-child(1) {transform: rotate(0deg); animation-delay: -1.1s; }
.lds-spinner div:nth-child(2) {transform: rotate(30deg); animation-delay: -1s; }
.lds-spinner div:nth-child(3) {transform: rotate(60deg); animation-delay: -0.9s; }
.lds-spinner div:nth-child(4) {transform: rotate(90deg); animation-delay: -0.8s; }
.lds-spinner div:nth-child(5) {transform: rotate(120deg); animation-delay: -0.7s; }
.lds-spinner div:nth-child(6) {transform: rotate(150deg); animation-delay: -0.6s; }
.lds-spinner div:nth-child(7) {transform: rotate(180deg); animation-delay: -0.5s; }
.lds-spinner div:nth-child(8) {transform: rotate(210deg); animation-delay: -0.4s; }
.lds-spinner div:nth-child(9) {transform: rotate(240deg); animation-delay: -0.3s; }
.lds-spinner div:nth-child(10) {transform: rotate(270deg); animation-delay: -0.2s; }
.lds-spinner div:nth-child(11) {transform: rotate(300deg); animation-delay: -0.1s; }
.lds-spinner div:nth-child(12) {transform: rotate(330deg); animation-delay: 0s; }
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
